body{
    color: #045256;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

body.dark{ 
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

header{
    background-image: url("./past_fotos/fotofundo1.png");
    margin: 1%;
    width: 98%;
    padding-top: 0px;
}

body.dark header{
    background-image: url("./past_fotos/fotofundo2.png");
    border: 1px solid white;
}

.Titulo{
    top: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: rgba(255, 0, 0, 0) solid 1px;
    position: relative;
}

#Modo{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 0%;
}

.cilindro{
    position:absolute;
    width: 3%;
    margin-top: 1%;
    height: 25%;
    background-color: white;
    right: 2%;
    top: 2%;
    border: #045256 solid 3px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    transform: scale(1.5);
}

.checkbox:checked + .cilindro{
    background-color: black;
    border: white solid 3px;
}

.cilindro .circulo{
    width: 30%;
    height: 70%;
    background-color: #045256;
    border-radius: 100%;
    margin-left: 5%;
    transform: translateX(0%);
    transition: transform 0.2s linear;
}

.checkbox:checked + .cilindro .circulo{
    transform: translateX(200%);
    background-color: white;
}

.Abertura{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.Abertura p{
    font-size: 140%;
    text-align: justify;
    text-indent: 12%;
    width: 30%;
    padding: 5%;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-right: 4%;
}

.Abertura a{
    width: 24%;
    margin-left: 13%;
    margin-right: 13%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #045256;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    border: 2px solid #045256;
    border-radius: 50px;
}

body.dark .Abertura a{
    color: white;
    border: white solid 2px;
}

.Abertura a:hover{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: #045256;
    font-size: 240%;
    border: 4px solid white;
}

body.dark .Abertura a:hover{
    color: black;
    background-color: white;
    border: black solid 4px;
}

.Abertura h4{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
}

main{
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.Momentos{
    width: 100%;
}

.Momentos h3{
    background-color: #DDF7F8;
    margin-left: 12%;
    margin-right: 50%;
    padding-left: 2%;
    font-size: 200%;
    width: 37%;
    border-bottom: 2px solid #045256;
    border-bottom-left-radius: 20px;
    margin-bottom: 0px;
}

body.dark .Momentos h3{
    background-color: #334251;
    border-bottom: 2px solid #ffffff;
}

.Area1{
    margin:0px;
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 31%;
    display: flex;
    justify-content:space-around;
}

.Area2{
    margin:0px;
    margin-top: 2%;
    margin-left: 31%;
    margin-right: 12%;
    display: flex;
    justify-content:space-around;
}

.Area1:hover{
    margin-left: 8%;
    margin-right: 27%;
}

.Area2:hover{
    margin-right: 27%;
    margin-right: 8%;
}

.Momentos img{
    width: 30%;
    border: 0px solid red;
    border-radius: 15px;
}

.Significados{
    width: 100%;
}

.Significados h3{
    background-color: #DDF7F8;
    margin-left: 12%;
    margin-right: 50%;
    padding-left: 2%;
    font-size: 200%;
    width: 37%;
    border-bottom: 2px solid #045256;
    border-bottom-left-radius: 20px;
    margin-bottom: 0px;
}

body.dark .Significados h3{
    background-color: #334251;
    border-bottom: 2px solid #ffffff;
}

.sig{
    background-color: #ddf7f849;
    width: 76%;
    padding: 0px;
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 2%;
    font-size: 110%;
    border-left: #045256 solid 1px;
    border-top: #045256 solid 1px;
    border-top-right-radius: 20px;
}

.sig h2{

    margin-left: 3%;
}

.sig p{
    text-align: justify;
    text-indent: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.Maravilha{
    width: 100%;
    padding: 0px;
}

.Maravilha h3{
    background-color: #DDF7F8;
    margin-left: 12%;
    margin-right: 50%;
    padding-left: 2%;
    font-size: 200%;
    width: 37%;
    border-bottom: 2px solid #045256;
    border-bottom-left-radius: 20px;
    margin-bottom: 2%;
}

body.dark .Maravilha h3{
    background-color: #334251;
    border-bottom: 2px solid #ffffff;
}

.Maravilha p{
    width: 50%;
    text-align: justify;
    text-indent: 5%;
    line-height: 130%;
    padding: 5%;
    padding-bottom: 0px;
    padding-top: 20px;
    margin: 0px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 120%;
}

.fotos{
    width: 20%;
    margin-top: 2%;
    padding: 5px;
    background-color: rgba(4, 82, 86, 0.103);
    display: flex;
    flex-flow: row wrap;
    
}

body.dark .fotos{
    background-color:#171719;
}

.foto{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 0.001;
}

.foto:hover{
    opacity: 1;
}

.Final p{
    width: 50%;
    text-align: justify;
    text-indent: 5%;
    line-height: 130%;
    padding: 5%;
    padding-bottom: 0px;
    padding-top: 20px;
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 120%;
}

footer{
    margin-left: 70%;
    padding: 5%;
    font-size: 120%;
    text-align: right;
}

.logofinal{
    width: 100%;
}


@media all and (max-width: 800px) and (min-width:500px){
    .Titulo h3{
        font-size: 170%;
        margin-top: 7%;
        padding-top: 3%;
        margin-bottom: 2%;
    }

    .Titulo .botao{
        width: 3%;
    }
    
    .botao p{
        margin-left: 1px;
    }
    .Abertura p{
        font-size: 200%;
        width: 80%;
        padding: 3%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 9%;
        margin-bottom: 9%;
    }
    
    .Abertura a{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 14%;
        margin-bottom: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 250%;
        border-radius: 50px;
    }
    
    .Abertura a:hover{
        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 320%;
    }
    
    .Abertura h4{
        width: 100%;
        margin-top: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 2%;
        font-size: 200%;
    }











    
    .Momentos h3{
        margin-right: 25%;
        width: 62%;
    }

    .Area1, .Area2{
        width: 70%;
        margin-top: 4%;
        margin-left: 15%;
        margin-right: 15%;
        justify-content:space-between;
    }
    
    .Area1:hover, .Area2:hover{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .Significados h3{
        margin-right: 25%;
        width: 62%;
    }

    .sig{
        margin-top: 3%;
    }

    .Maravilha h3{
        margin-right: 25%;
        width: 62%;
    }
    .Maravilha p, .Final p{
        width: 76%;
        text-indent: 8%;
        padding: 0px;
        margin-left: 12%;
        margin-right: 12%;
    }
    .fotos{
        width: 50%;
        padding: 7px;
        
    }
    footer{
        margin-left: 50%;
        padding: 5%;
        font-size: 120%;
    }
}